<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Post Details</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"/>
  <link rel="stylesheet" th:href="@{/css/home.css}"/>
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" th:href="@{/css/post.css}"/>
  <script>
        function toggleReplyForm(commentId) {
            var replyForm = document.getElementById("reply-comment-form-" + commentId);
            if (replyForm.style.display === "none" || replyForm.style.display === "") {
                replyForm.style.display = "block";
            } else {
                replyForm.style.display = "none";
            }
        }
        function toggleEditForm(commentId) {
            var replyForm = document.getElementById("reply-comment-form-edit-" + commentId);
            if (replyForm.style.display === "none" || replyForm.style.display === "") {
                replyForm.style.display = "block";
            } else {
                replyForm.style.display = "none";
            }
        }

         function myFunction(language) {
            console.log(language);
            changeLanguage(language);
        }

        function changeLanguage(lang) {
            const translations = {
                en: {
                    homeLink: 'Home',
                    signUpLinkText: 'Sign Up',
                    loginButtonText: 'Login',
                    pageHeading: 'Welcome to the Website',
                    introText: 'This is the introduction text.',
                    submitButtonText: 'Submit',
                    logoutText: 'Logout',
                    newText: 'New',
                    hotText: 'Hot',
                    topText: 'Top',
                    createPostText: 'Create Post',
                    createCommunityText: 'Create Community',
                    searchBlogText: 'Search for blog posts',
                    writeThoughtText: 'Write your thought',

                    submitCommentButton: 'Submit Comment',
                    replyPlaceholder: 'Reply',
                    editText: 'Edit',
                    deleteText: 'Delete',
                },
                hi: {
                    homeLink: 'होम',
                    signUpLinkText: 'साइन अप करें',
                    loginButtonText: 'लॉगिन',
                    pageHeading: 'वेबसाइट में आपका स्वागत है',
                    introText: 'यह परिचय टेक्स्ट है।',
                    submitButtonText: 'प्रस्तुत करें',
                    logoutText: 'लॉग आउट',
                    newText: 'नया',
                    hotText: 'हॉट',
                    topText: 'शीर्ष',
                    createPostText: 'पोस्ट बनाएं',
                    createCommunityText: 'कम्युनिटी बनाएं',
                    searchBlogText: 'ब्लॉग पोस्ट के लिए खोजें',
                    writeThoughtText: 'अपनी विचारना लिखें',

                    submitCommentButton: 'कमेंट सबमिट करें',
                    replyPlaceholder: 'उत्तर दें',
                    editText: 'सुधारे',
                    deleteText: 'हटाएँ',
                },
                te: {
                    homeLink: 'హోమ్',
                    signUpLinkText: 'నమోదు చేయండి',
                    loginButtonText: 'లాగిన్',
                    pageHeading: 'వెబ్సైట్‌కు స్వాగతం',
                    introText: 'ఇది పరిచయ టెక్స్ట్ ఉంది.',
                    submitButtonText: 'సమర్పించండి',
                    logoutText: 'లాగ్ అవుట్',
                    newText: 'కొత్తది',
                    hotText: 'హాట్',
                    topText: 'టాప్',
                    createPostText: 'పోస్ట్ సృష్టించు',
                    createCommunityText: 'కమ్యూనిటీ సృష్టించు',
                    searchBlogText: 'బ్లాగు పోస్ట్‌లను వెతకండి',
                    writeThoughtText: 'మీ ఆలోచనను రాయండి',

                    submitCommentButton: 'వ్యాఖ్యను సమర్పించండి',
                    replyPlaceholder: 'ప్రతిస్పందించండి',
                    editText: 'సవరించు',
                    deleteText: 'తొలగించు',
                }
            };

            const translatedTexts = translations[lang];

            document.getElementById('home-link').textContent = translatedTexts.homeLink;
           if(document.getElementById('logout')!=null){
                document.getElementById('logout').textContent = translatedTexts.logoutText;
           }

            document.getElementById('search-blog').placeholder = translatedTexts.searchBlogText;


            if( document.getElementById('signUp')!=null ){
                document.getElementById('signUp').textContent = translatedTexts.signUpLinkText;
                document.getElementById('login-button').textContent = translatedTexts.loginButtonText;
            }

            document.getElementById('submit-comment').textContent = translatedTexts.submitCommentButton;
            document.getElementById('comment').placeholder = translatedTexts.replyPlaceholder;

            const replyElements = document.querySelectorAll('.reply');

            // Update text content for all "reply" elements
            replyElements.forEach((element) => {
                element.textContent = translatedTexts.replyPlaceholder;
            });

            const editElements = document.querySelectorAll('.edit-comment');
            const deleteElements = document.querySelectorAll('.delete-comment');

            // Update text content for "edit-comment" elements
            editElements.forEach((element) => {
                element.textContent = translatedTexts.editText;
            });

            // Update text content for "delete-comment" elements
            deleteElements.forEach((element) => {
                element.textContent = translatedTexts.deleteText;
            });

            localStorage.setItem('user_language', lang);
        }

    </script>
</head>
<body>
<div class="nav">
  <div class="nav-item1">
    <div class="logo">
      <img src="https://www.redditinc.com/assets/images/site/reddit-logo.png">
      <strong>reddit</strong>
    </div>

    <div class="dropdown">
      <a th:href="@{/posts}" class="dropbtn" id="home-link">Home</a>
      <div class="dropdown-content">

        <form th:action="@{/subreddit}" method="get" class="search-form">
            <span class="material-symbols-outlined">
                search
                </span>
          <input type="text" name="subredditName" placeholder="Search subreddit">
        </form>

        <div th:each="subreddit: ${subredditList}">
          <a th:if="${subreddit.name != null}" th:href="@{'/subreddit/r/'+ ${#strings.substring(subreddit.name, 2)}}"
             th:text="${subreddit.name}">
          </a>
        </div>

      </div>
    </div>

  </div>
  <div class="nav-item2">
    <form th:action="@{/search}" method="get" class="search-form">
      <span class="material-symbols-outlined">search</span>
      <input type="text" name="text" id="search-blog" placeholder="Search for blog posts">
    </form>
  </div>

  <div class="nav-item3">
    <div sec:authorize="isAuthenticated()" class="notification">
      <a class="add add1" th:href="@{/notification}">
                        <span class="material-symbols-outlined">
                        notifications
                        </span>
        <span th:if="${@utility.notifications() >0}">
                <span style="position: absolute; color: white; font-size: 12px; width: 13px; height: 13px; background-color: red; border-radius: 50%; padding: 1px; top:10px" th:text="${@utility.notifications()}"></span>
                </span>
      </a>
    </div>
        <span class="material-symbols-outlined">
            bubble
        </span>
    <span class="material-symbols-outlined">
            chat_bubble
        </span>

    <a class="add" th:href="@{/create-post}">
            <span class="material-symbols-outlined">
            add
            </span>
    </a>
    <div class="user-box" sec:authorize="isAuthenticated()">
      <a class="add" th:href="@{/profile/posts}"><span th:if="${user != null}" th:text="${user.username}">bob</span></a>
      &nbsp
      <div th:if="${user != null && user.media != null}">
        <div class="user-image" th:if="${user.media.contentType.startsWith('image/')}">
          <img  th:src="@{${'/display?id=' + user.media.mediaId}}" alt="Image">
        </div>
      </div>
      <div th:unless="${user != null && user.media != null}" class="user-media">
        <img src="https://www.redditinc.com/assets/images/site/reddit-logo.png">
      </div>
      <p>Karma:<span th:if="${user != null}" th:text="${user.karma}"></span></p>

    </div>
    <div sec:authorize="isAnonymous()" class="auth">
      <a th:href="@{/register}">Register</a>
      <a th:href="@{/login}" id="login-button">Login</a>
    </div>
    <div sec:authorize="isAuthenticated()" >
      <form  th:action="@{/logout}" method="POST">
<!--        <input id="logout" type="submit" value="Logout" class="logout-button">-->
        <button id="logout">Logout</button>
      </form>
    </div>
  </div>
</div>
<div class="content">
  <div class="post-container">
    <div class="element">
      <div th:text="${post.user.username}"></div>
      <div class="right">
        <span th:text="${#temporals.format(post.publishedAt, 'yyyy-MM-dd h:mma')}"></span>
        <div id="vert" sec:authorize="isAuthenticated()">
         <span class="material-symbols-outlined" >
          more_vert
         </span>
          <div  id="edit-delete">
            <div th:if="${#authentication.principal.username == post.user.email}" class="post-edit-delete-button class">
              <form th:action="@{'/update-post/' + ${post.postId}}" method="POST">
                <input type="submit" value="Edit">
              </form>
              <form th:action="@{'/delete-post/' + ${post.postId}}" method="POST">
                <input type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 th:text="${post.postName}"></h3>
    <div th:text="${post.subreddit.name}"></div>
    <a th:if="${#strings.startsWith(post.url, 'http://') or #strings.startsWith(post.url, 'https://')}" th:href="${post.url}" target="_blank">
      <span th:text="${post.url}"></span>
    </a>
    <div th:text="${post.description}"></div>
    <div th:if="${post.media != null}">
      <div th:if="${post.media.contentType.startsWith('image/')}">
        <img height="250px" width="100%" th:src="@{${'/display?id=' + post.media.mediaId}}" alt="Image">
      </div>

      <div th:if="${post.media.contentType.startsWith('video/')}">
        <video width="100%" controls>
          <source th:src="@{${'/display?id=' + post.media.mediaId}}"
                  th:type="${post.media.contentType}">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="vote">
      <form th:if="${voteType == null || voteType == 'DOWNVOTE'}"
            th:action="@{/posts/upvote/{postId}/UPVOTE(postId=${post.postId})}" method="Get">
        <button type="submit">
          <input type="hidden" name="page" th:value="post-page">
          <span class="material-symbols-outlined">arrow_upward</span>
        </button>
      </form>
<!--      <input type="button" th:value="${post.voteCount}" id="showConfirmationBtn">-->
      <span th:text="${post.voteCount}" id="showConfirmationBtn"></span>
      <form th:if="${voteType == null || voteType == 'UPVOTE'}"
            th:action="@{/posts/downvote/{postId}/DOWNVOTE(postId=${post.postId})}" method="Get">
        <button type="submit">
          <input type="hidden" name="page" th:value="post-page">
          <span class="material-symbols-outlined">arrow_downward</span>
        </button>
      </form>
    </div>
  </div>
  <form th:action="@{'/addComment/'+${post.postId}}" method="post" class="comment-form">
    <textarea id="comment" name="content" placeholder="Reply" cols="40" rows="5" style="resize: none;
                                            width: 100%; height: 100px; font-size: 16px;" required></textarea>
    <button type="submit" id="submit-comment">Submit Comment</button>
  </form>

  <ol style="list-style-type: none;">
    <li th:each="comment, commentIndex : ${post.comments}" th:if="${comment.parentComment == null}" class="comment">
      <strong th:text="${comment.user.username}"></strong> &nbsp; &nbsp;
      <span th:text="'Created At ' + ${#temporals.format(comment.createdAt, 'dd/MM/yyyy, hh:mm a')}"></span>
      <div th:text="${comment.content}"></div> &nbsp; &nbsp;
      <div class="vote">
        <form th:action="@{/comments/upvote/{commentId}/UPVOTE(commentId=${comment.commentId})}" method="Get">
          <button type="submit">
            <span class="material-symbols-outlined">arrow_upward</span>
          </button>
        </form>
<!--        <span th:text="${comment.voteCount}" ></span>-->
        <span th:text="${comment.voteCount}" class="vote-count" th:data-comment-index="${commentIndex}"></span>
        <form  style="display:none;" class="modal" th:id="'modal-comment-' + ${commentIndex}">
          <div class="modal-content">
            <div th:each="vote : ${comment.votes}">
              <span th:text="${vote.user.username}" class="username"></span>
              <span th:if="${#strings.equals(vote.voteType, 'DOWNVOTE')}" class="downvote-message" style="color:red;">Downvoted this comment</span>
              <span th:if="${#strings.equals(vote.voteType, 'UPVOTE')}" class="upvote-message" style="color:green;">Upvoted this comment</span>
            </div>
            <button type="button" style="padding: 10px; border-radius: 10px;border:1px solid black;" class="close-button">Close</button>
          </div>
        </form>

        <form
                th:action="@{/comments/downvote/{commentId}/DOWNVOTE(commentId=${comment.commentId})}" method="Get">
          <button type="submit">
            <span class="material-symbols-outlined">arrow_downward</span>
          </button>
        </form>
      </div>
      <div sec:authorize="isAuthenticated()" class="edit-delete-button">
          <div th:if="${#authentication.principal.username == comment.user.email or #authentication.principal.username == post.user.email}">
              <div>
                <span th:if="${#authentication.principal.username == comment.user.email}">
                          <a th:attr="onclick='toggleEditForm(\'' + ${comment.commentId} + '\')'" class="edit-comment">Edit</a></span>
                <span><a th:href="@{'/deleteComment/' + ${comment.commentId}}" class="delete-comment">Delete</a></span>
                <div th:id="'reply-comment-form-edit-' + ${comment.commentId}" style="display: none; margin-top:7px">
                  <form th:action="@{'/editComment/' + ${comment.commentId}}" method="post">
                    <textarea id="new-comment-text-edit" name="content" th:value="${content}" th:text="${comment.content}"></textarea>
                    <button type="submit">Save</button>
                  </form>
                </div>
            </div>
          </div>
      </div>

      <div class="replies">
        <div th:if="${comment.replies.size() > 0}">
          <a th:href="@{'/viewReplies/' + ${comment.commentId}}" class="comment-icon">
            <span class="material-symbols-outlined">
                 comment
            </span>
            <span th:text="${comment.replies.size()}"></span>
          </a>
        </div>
        <div th:unless="${comment.replies.size() > 0}" class="comment-icon">
          <div>
             <span class="material-symbols-outlined">
                 comment
            </span>
          </div>
          <div th:text="${comment.replies.size()}"></div>
        </div>
        <span><a th:attr="onclick='toggleReplyForm(\'' + ${comment.commentId} + '\')'" style="cursor: pointer;" class="reply">Reply</a></span>
      </div>
      <div th:id="'reply-comment-form-' + ${comment.commentId}" style="display: none;">
        <form th:action="@{'/replyOnComment/' + ${comment.commentId}}" method="post">
          <label for="new-comment-text">Comment</label>
          <textarea id="new-comment-text" name="content" th:value="${content}" ></textarea>
          <button type="submit">Save</button>
        </form>
      </div>
    </li>
  </ol>
</div>

<div th:if="${user != null}">
  <!-- Render content if the user object is present -->
  <script th:inline="javascript">
    /* Check if the user object is present and then call myFunction */
    var userLanguage = /*[[${user.language}]]*/ null; // Get the user's language
    if (userLanguage !== null) {
        myFunction(userLanguage);
    }
  </script>
</div>
<div th:if="${user == null}">
  <!-- Render content if the user object is present -->
  <script th:inline="javascript">
    /* Check if the user object is present and then call myFunction */

    const storedLang = localStorage.getItem('user_language');
    if (storedLang !== null) {
        myFunction(storedLang);
    }
  </script>
</div>
<!--<div sec:authorize="isAuthenticated()">-->
<!--  <div th:if="${#authentication.principal.username == post.user.email}" >-->
    <form id="confirmationForm" style="display:none;" class="modal">
      <div class="modal-content">
        <div th:each="vote : ${post.votes}">
          <span th:text="${vote.user.username}" class="username"></span>
          <span th:if="${#strings.equals(vote.voteType, 'DOWNVOTE')}" class="downvote-message" style="color:red;">Downvoted this post</span>
          <span th:if="${#strings.equals(vote.voteType, 'UPVOTE')}" class="upvote-message" style="color:green;">Upvoted this post</span>
        </div>
        <button type="button" id="cancelDelete" style="padding: 10px; border-radius: 10px;">Close</button>
      </div>
    </form>
<!--  </div>-->
<!--</div>-->

<script>
  document.getElementById('showConfirmationBtn').addEventListener('click', function() {
        document.getElementById('confirmationForm').style.display = 'block';
    });

    document.getElementById('cancelDelete').addEventListener('click', function() {
        document.getElementById('confirmationForm').style.display = 'none';
    });

  // JavaScript code


</script>
<script>
  document.querySelectorAll('.vote-count').forEach(function(voteCount) {
    voteCount.addEventListener('click', function() {
        const commentIndex = voteCount.getAttribute('data-comment-index');
        const modalId = 'modal-comment-' + commentIndex;
        const modal = document.getElementById(modalId);

        if (modal) {
            if (modal.style.display === 'none' || modal.style.display === '') {
                modal.style.display = 'block';
            } else {
                modal.style.display = 'none';
            }
        }
    });
});

// Add an event listener for the "Close" button
document.querySelectorAll('.close-button').forEach(function(closeButton) {
    closeButton.addEventListener('click', function() {
        const modal = closeButton.closest('.modal');
        if (modal) {
            modal.style.display = 'none';
        }
    });
});
</script>

</body>
</html>