<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"/>
    <link rel="stylesheet" th:href="@{/css/profile.css}"/>
    <link rel="stylesheet" href="../static/css/profile.css">
    <title>Posts</title>
    <script>
        function toggleEditForm(commentId) {
            var replyForm = document.getElementById("reply-comment-form-edit-" + commentId);
            if (replyForm.style.display === "none" || replyForm.style.display === "") {
                replyForm.style.display = "block";
            } else {
                replyForm.style.display = "none";
            }
        }

        function myFunction(language) {
            console.log(language);
            changeLanguage(language);
        }

        function changeLanguage(lang) {
            const translations = {
                en: {
                    homeLink: 'Home',
                    signUpLinkText: 'Sign Up',
                    loginButtonText: 'Login',
                    pageHeading: 'Welcome to the Website',
                    introText: 'This is the introduction text.',
                    submitButtonText: 'Submit',
                    logoutText: 'Logout',
                    newText: 'New',
                    hotText: 'Hot',
                    topText: 'Top',
                    createPostText: 'Create Post',
                    createCommunityText: 'Create Community',
                    searchBlogText: 'Search for blog posts',
                    writeThoughtText: 'Write your thought',
                    editProfileLinkText: 'Edit Profile',
                    profilePostsLinkText: 'Post',
                    profileCommentLinkText: 'Comment',
                    profileUpvoteLinkText: 'Upvote',
                    profileDownvoteLinkText: 'Downvote',
                    draftsLinkText: 'Drafts',

                },
                hi: {
                    homeLink: 'होम',
                    signUpLinkText: 'साइन अप करें',
                    loginButtonText: 'लॉगिन',
                    pageHeading: 'वेबसाइट में आपका स्वागत है',
                    introText: 'यह परिचय टेक्स्ट है।',
                    submitButtonText: 'प्रस्तुत करें',
                    logoutText: 'लॉग आउट',
                    newText: 'नया',
                    hotText: 'हॉट',
                    topText: 'शीर्ष',
                    createPostText: 'पोस्ट बनाएं',
                    createCommunityText: 'कम्युनिटी बनाएं',
                    searchBlogText: 'ब्लॉग पोस्ट के लिए खोजें',
                    writeThoughtText: 'अपनी विचारना लिखें',
                    editProfileLinkText: 'प्रोफ़ाइल संपादित करें',
                    profilePostsLinkText: 'पोस्ट',
                    profileCommentLinkText: 'टिप्पणी',
                    profileUpvoteLinkText: 'अपवोट',
                    profileDownvoteLinkText: 'डाउनवोट',
                    draftsLinkText: 'ड्राफ्ट्स'
                },
                te: {
                    homeLink: 'హోమ్',
                    signUpLinkText: 'నమోదు చేయండి',
                    loginButtonText: 'లాగిన్',
                    pageHeading: 'వెబ్సైట్‌కు స్వాగతం',
                    introText: 'ఇది పరిచయ టెక్స్ట్ ఉంది.',
                    submitButtonText: 'సమర్పించండి',
                    logoutText: 'లాగ్ అవుట్',
                    newText: 'కొత్తది',
                    hotText: 'హాట్',
                    topText: 'టాప్',
                    createPostText: 'పోస్ట్ సృష్టించు',
                    createCommunityText: 'కమ్యూనిటీ సృష్టించు',
                    searchBlogText: 'బ్లాగు పోస్ట్‌లను వెతకండి',
                    writeThoughtText: 'మీ ఆలోచనను రాయండి',
                    editProfileLinkText: 'ప్రొఫైల్‌ను సవరించండి',
                    profilePostsLinkText: 'పోస్ట్',
                    profileCommentLinkText: 'వ్యాఖ్య',
                    profileUpvoteLinkText: 'అప్వోట్',
                    profileDownvoteLinkText: 'డౌన్వోట్',
                    draftsLinkText: 'డ్రాఫ్ట్స్'
                }
            };

            const translatedTexts = translations[lang];

            document.getElementById('home-link').textContent = translatedTexts.homeLink;
           if(document.getElementById('logout')!=null){
                document.getElementById('logout').textContent = translatedTexts.logoutText;
           }

            document.getElementById('search-blog').placeholder = translatedTexts.searchBlogText;

            const editProfileLink = document.getElementById('edit-profile');


            editProfileLink.textContent = translatedTexts.editProfileLinkText;

            document.getElementById('profile-posts-link').textContent = translatedTexts.profilePostsLinkText;
            document.getElementById('profile-comment-link').textContent = translatedTexts.profileCommentLinkText;
            document.getElementById('profile-upvote-link').textContent = translatedTexts.profileUpvoteLinkText;
            document.getElementById('profile-downvote-link').textContent = translatedTexts.profileDownvoteLinkText;
            document.getElementById('drafts-link').textContent = translatedTexts.draftsLinkText;
            localStorage.setItem('user_language', lang);
        }
    </script>

</head>
<body>
<div class="nav">
    <div class="nav-item1">
        <div class="logo">
            <img src="https://www.redditinc.com/assets/images/site/reddit-logo.png">
            <strong>reddit</strong>
        </div>

        <div class="dropdown">
            <a th:href="@{/posts}" class="dropbtn" id="home-link">Home</a>
            <div class="dropdown-content">
                <form th:action="@{/subreddit}" method="get" class="search-form">
                     <span class="material-symbols-outlined">
                        search
                     </span>
                     <input type="text" name="subredditName" placeholder="Search subreddit">
                </form>

                <div th:each="subreddit: ${subredditList}">
                    <a th:href="@{/subreddit/{subredditName} (subredditName=${subreddit.name})}"
                       th:text="${subreddit.name}"> </a>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-item2">
        <form th:action="@{/search}" method="get" class="search-form">
            <span class="material-symbols-outlined">
                search
                </span>
            <input type="text" name="text" placeholder="Search for blog posts" id="search-blog">
        </form>
    </div>

    <div class="nav-item3">
        <span class="material-symbols-outlined">
            bubble
        </span>
        <span class="material-symbols-outlined">
            chat_bubble
        </span>

        <a th:href="@{/create-post}">
            <span class="material-symbols-outlined">
            add
            </span>
        </a>

        <div sec:authorize="isAnonymous()" class="auth">
            <a th:href="@{/register}">Resister</a>
            <a th:href="@{/login}">Login</a>
        </div>

        <div sec:authorize="isAuthenticated()" class="user-profile">
            <span th:text="${user.username}"></span>

            <a th:href="@{/updateUser}" id ="edit-profile">Edit Profile</a>

            <div th:if="${user.media != null}" >
                <div class="image-container" th:if="${user.media.contentType.startsWith('image/')}">
                    <img height="50px" width="50px" style="border-radius:50px" th:src="@{${'/display?id=' + user.media.mediaId}}" alt="Image">
                </div>
            </div>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="POST">
<!--                <input type="submit" value="Logout" class="logout-button">-->
                <button id="logout">Logout</button>
            </form>
        </div>
    </div>
</div>


<div class="user-content-box">
    <div class="create-box-mini">
<!--        <a th:href="@{/profile/posts}">Post</a>-->
<!--        <a th:href="@{/profile/comment}">Comment</a>-->
<!--        <a th:href="@{/profile/upvote}">Upvote</a>-->
<!--        <a th:href="@{/profile/downvote}">Downvote</a>-->
<!--        <a th:href="@{/drafts}">Drafts</a>-->
        <a th:href="@{/profile/posts}" id="profile-posts-link">Post</a>
        <a th:href="@{/profile/comment}" id="profile-comment-link">Comment</a>
        <a th:href="@{/profile/upvote}" id="profile-upvote-link">Upvote</a>
        <a th:href="@{/profile/downvote}" id="profile-downvote-link">Downvote</a>
        <a th:href="@{/drafts}" id="drafts-link">Drafts</a>
    </div>
</div>


<div class="content-container">
    <div class="content">
        <div class="blog-container">
            <div class="card" th:each="post : ${posts}">
                <div th:if="${post != null}">
                    <h5 th:text="${post.subreddit.name}">Author Name</h5>
                    <h2><a th:if="${post.isPublished == true}" th:href="@{${post.postId}}" th:text="${post.postName}">Title</a></h2>
                    <h5 th:text="${#temporals.format(post.publishedAt, 'dd/MM/yyyy, hh:mm a')}"></h5>
                    <p th:text="${post.description}"></p>

                    <div th:if="${post.media != null}">
                        <div th:if="${post.media.contentType.startsWith('image/')}">
                            <img height="250px" width="100%" th:src="@{${'/display?id=' + post.media.mediaId}}" alt="Image">
                        </div>

                        <div th:if="${post.media.contentType.startsWith('video/')}">
                            <video width="100%" controls>
                                <source th:src="@{${'/display?id=' + post.media.mediaId}}"
                                        th:type="${post.media.contentType}">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
            <div th:if="${post.isPublished == true}">
                <div class="vote">
                    <form th:action="@{/profile/upvote/{postId}/UPVOTE(postId=${post.postId})}" method="Post">
                        <button type="submit">
                            <span class="material-symbols-outlined">arrow_upward</span>
                        </button>
                    </form>
                    <span th:text="${post.voteCount}"></span>
                    <form th:action="@{/profile/downvote/{postId}/DOWNVOTE(postId=${post.postId})}" method="Post">
                        <button type="submit">
                            <span class="material-symbols-outlined">arrow_downward</span>
                        </button>
                    </form>
                    <form th:action="@{'/'+${post.postId}}" method="get">
                        <button type="submit">
                            <span class="material-symbols-outlined">
                            comment
                            </span>
                        </button>
                        <span th:text="${post.comments.size()}"></span>
                    </form>
                </div>
            </div>
                <div th:if="${post.isPublished == false}" class="publish-container">
                    <form th:action="@{'/posts/'+${post.postId}+'/publish'}">
<!--                        <input type="hidden" name="postId" th:value="${post.postId}">-->
                        <input type="submit" value="Publish">
                    </form>
                    <form th:action="@{'/update-post/' + ${post.postId}}" method="POST">
                        <input type="submit" value="Edit">
                    </form>
                    <form th:action="@{'/delete-post/' + ${post.postId}}" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>

        </div>
            
    </div>
    <div class="comment-box">
        <div  th:if="${commentList != null}" th:each="comment: ${commentList}">
            <div class="user-comment">
                 <h2 th:text="${comment.post.postName}">PostName</h2>
                 <br>
                 <p th:text="${comment.content}"></p>
                  <br>
                  <div class="comment-footer">
                    <span th:text="${#temporals.format(comment.createdAt, 'dd/MM/yyyy, hh:mm a')}">2012-12-1</span>
                    <div>
                        <span><a href="#" th:attr="onclick='toggleEditForm(\'' + ${comment.commentId} + '\')'" id="edit">Edit</a></span>
                        <div th:id="'reply-comment-form-edit-' + ${comment.commentId}" style="display: none; margin-top:7px">
                            <form th:action="@{'/editComment/' + ${comment.commentId}}" method="post">
                                <input  type="hidden" name="page" value="profile">
                                <textarea id="new-comment-text-edit" name="content" th:value="${content}" th:text="${comment.content}"></textarea>
                                <button type="submit">Save</button>
                            </form>
                        </div>
                        <a th:href="@{'/profile/deleteComment/'+${comment.commentId}}" id="delete">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${user != null}">
    <!-- Render content if the user object is present -->
    <script th:inline="javascript">
        /* Check if the user object is present and then call myFunction */
        var userLanguage = /*[[${user.language}]]*/ null; // Get the user's language
        if (userLanguage !== null) {
            myFunction(userLanguage);
        }
    </script>
</div>
<div th:if="${user == null}">
    <!-- Render content if the user object is  not present -->
    <script th:inline="javascript">
        /* Check if the user object is present and then call myFunction */

        const storedLang = localStorage.getItem('user_language');
        if (storedLang !== null) {
            myFunction(storedLang);
        }
    </script>
</div>
</body>
</html>